body{
    font : 24px;
    color: black;
}

#myBox {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid black;
}


span{
    text-align: center;
}


#clickCount:hover{
    color:red !important;

}